@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
  --nav-background: #29386D;
  --button: #EBFE16;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  height: 400vh;
  scroll-behavior: smooth;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: white;
}

img{
  max-width: 100%;
}

.nav-container{
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(3, 1fr); 
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--nav-background);
  color: white;
  gap: 1rem;
  min-width: 390px;
  width: 100%;

}

.nav-logo{
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.2em;
  gap: .8em;
 
}
.nav-logo :is(.img-logo){
  max-width: 15%;
  min-width: 60px;
}
.nav-logo :is(h5){
  letter-spacing: 1px;
}


.nav-menu :is(ul){
  display: flex;
  gap: 2em;
  text-align: center;
}
.nav-menu :is(a){
  font-size: .8rem;
  letter-spacing: 1px;
}


.nav-covid{
  display: flex;
  justify-content: flex-end;
}
.nav-covid :is(button){

  padding: 1rem 1.3rem;
  border: none;
  border-radius: 3px;
  background-color: var(--button);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.10);
}


.main-background{
 background-image: url(/img/view.png);
 filter: blur(1px);
 height: 30vh;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-position-y: 30%;
 background-color: rgba(36, 35, 35, 0.603);
 background-blend-mode: screen;
 min-width: 390px;
}

.about-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.about-title :is(h2){
  font-size: 3rem;
  letter-spacing: 3px;
  z-index: 999;
}



.mayor-title{
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 5em;
  
}
.mayor-title :where(h2){
  font-size: clamp(1rem, 2.3rem, 3rem);
}


.mayor-container{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2em;
  padding: 2rem;

}

.left-container{
  text-align: center;
  
}
.left-container :where(p){
  margin-top: 1rem;
  text-align: justify;
  line-height: 35px;
  letter-spacing: 1px;
  
}

.more-about-mayor{
  min-width: 400px;
}
.more-about-mayor :is(p){
  letter-spacing: 1px;
  line-height: 40px;
  text-align: justify;
  /* background-color: rgb(241, 220, 191); */
  background-color: rgb(47, 65, 99);
  color: white;
  padding: 2em 4em;
 
}








.right-background{
  background-image: url('/img/menchie-abalos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -10%;
  height: 75vh;
}


@media (max-width: 420px){
  .mayor-title{
    text-align: center;
    text-align: center;
    justify-items: center;
  }
}

@media (max-width: 330px){
  .mayor-title{
   width: 380px;
  }
}













@media (max-width: 1019px){
  .nav-container{
    grid-template-columns: repeat(2, 1fr); 
  }
  .nav-covid{
    display: none;
  }

}

@media (max-width: 745px){
  .nav-container{
    grid-template-columns: repeat(1, 1fr); 
    
  }
  .nav-covid{
    display: none;
  }
  

}


@media (max-width: 360px) {
  .content{
    text-align: center;
  }
  .content-p :where(p){
    display: none;
  }

  main :where(button){
    margin: 0;
  }
}